<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Provinces App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Provinces App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ul>
    <li [routerLink]="['/Ulster']">Ulster</li>
    <li [routerLink]="['/Munster']">Munster</li>
    <li [routerLink]="['/Connaught']">Connaught</li>
    <li [routerLink]="['/Leinster']">Leinster</li>
  </ul>
</ion-content>
